<!DOCTYPE html>
<html ng-app="notesApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Chapter 5 - example 3</title>
    <script src="vendors/angular/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl as mainCtrl">
<h1>Hello Controllers !</h1>
<button ng-click="mainCtrl.open('first')">Open First</button>
<button ng-click="mainCtrl.open('second')">Open Second</button>
<div ng-switch on="mainCtrl.tab">
    <h1>{{mainCtrl.tab}}</h1>
    <div ng-switch-when="first">
        <div ng-controller="SubCtrl as subCtrl">
            <h3>First tab</h3>
            <ul>
                <li ng-repeat="item in subCtrl.list()">
                    <span ng-bind="item.label"></span>
                </li>
            </ul>
            <button ng-click="subCtrl.add()">Add more items</button>
        </div>
    </div>
    <div ng-switch-when="second">
        <div ng-controller="SubCtrl as subCtrl">
            <h3>Second tab</h3>
            <ul>
                <li ng-repeat="item in subCtrl.list()">
                    <span ng-bind="item.label"></span>
                </li>
            </ul>
            <button ng-click="subCtrl.add()">Add more items</button>
        </div>
    </div>
</div>
</body>
</html>